[Unit]
Description=Status email for %I backup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/systemd-email netzwerk@raumzeitlabor.de backup@%i
Group=systemd-journal
